FOLLOWER_PORT=/dev/serial/by-id/usb-ROBOTIS_OpenRB-150_XXXX
LEADER_PORT=/dev/serial/by-id/usb-ROBOTIS_OpenRB-150_YYYY
CAMERA_DEVICE=/dev/video0
CAMERA_NAME=camera1
ROS_DOMAIN_ID=30
REGISTRY=nettername
